{% extends 'main/TopOfTheSite.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}

<div class="OurAbout" xmlns="http://www.w3.org/1999/html">
    <div>
        <h1>О нас</h1>
        <center><h2>Invest Machine - новостной портал про инвестирование</h2></center>
    </div>
    <div class="aboutimg" style="display:inline-block;">
        <p></p><img src="{% static 'main/img/about500.jpg' %}" alt="aboutimg" align="left" style="display:inline-block;">Invest Machine – новостной портал, который ежедневно публикует свежие новости про инвестирование, собранные с разных информационных источников.
        Вложение в инвестиционные счета для торговли на валютном рынке в современном мире пользуется большой популярностью,
        поэтому если вы планируете стать инвестором, наш сайт будет для вас полезен. Сайт информирует клиентов постоянно.
        Здесь вы можете ознакомиться с актуальными новостями по акциям и компаниям и быть в курсе последних финансовых и экономических событий в России и мире.
        <h3> Что включает в себя сайт?</h3>
        <p>Сайт включает в себя несколько разделов и не перегружен лишней информацией, поэтому любой пользователь без труда сможет найти интересующие его сведения.
            Главным критерием его работы является доступность в пользовании, удобный интерфейс и поиск информации в онлайн-формате, а также наглядность и систематизированность материаров.
            Пользователи, имеющие личный кабинет могут оставлять личные записи, которые будут полезны для других клиентов сайта. Также на базе сайта есть возможность онлайн-общения между пользователями.
            Если вы хотите поговорить на интересующую вас тему, переходите на форум и задавайте ваши вопросы.
        </p></p>
    </div>
    <div class="aboutimg2" style="display:inline-block;" >
        <p></p><img src="{% static 'main/img/about500_2.jpg' %}"  alt="aboutimg2" align="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi asperiores, aut beatae consequatur, earum enim id,
        minima molestiae optio quaerat quas quibusdam recusandae repellat repudiandae rerum sint tempore temporibus unde!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi asperiores, aut beatae consequatur, earum enim id,
        minima molestiae optio quaerat quas quibusdam recusandae repellat repudiandae rerum sint tempore temporibus unde!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <h3> И это важно!</h3>
        <p>Animi asperiores, aut beatae consequatur, earum enim id,
        minima molestiae optio quaerat quas quibusdam recusandae repellat repudiandae rerum sint tempore temporibus unde!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi asperiores, aut beatae consequatur, earum enim id,
        minima molestiae optio quaerat quas quibusdam recusandae repellat repudiandae rerum sint tempore temporibus unde!</p></p>
    </div>
    <div class="Goodbye" >
        <center><h2>Удачного Инвестирования !</h2></center>
    </div>
</div>


{% endblock  %}