{% extends 'main/TopOfTheSite.html' %}
{% load static %}
{% block title %}Вход в аккаунт{% endblock %}

{% block content %}
<div class="login" >
 <h1>Вход</h1>
  <p>Пожалуйста войдите на сайт если у вас есть аккаунт</p>
  <form action="." method="post">
    {{ form.as_p.username }}
      {{ form.as_p }}
    {% csrf_token %}
    <center><p><input type="submit" value="Войти" class="btn"> <a href="{% url 'register' %}" class="btn">Регистрация</a> </p></center>
  </form>
</div>
<style>
    .login{
        margin: 50px auto;
        text-align: center;
        border-style: solid;
        width: 600px;
        height: 300px;
        background-color: #3e3740;
        border-color: #3e3740;
        color: white;
        border-radius: 20px;
    }
    .helptext{
        margin-top:15px
        padding-top: 5px
    }
</style>
{% endblock  %}